@tailwind base;
@tailwind components;
@tailwind utilities;



/*
### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900
*/
@font-face {
    font-family: 'Red Hat Display';
    src: url('./assets/fonts/RedHatDisplay-VariableFont_wght.ttf') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./assets/fonts/RedHatDisplay-VariableFont_wght.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./assets/fonts/RedHatDisplay-VariableFont_wght.ttf') format('woff2');
    font-weight: 900;
    font-style: normal;
}
